<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
         <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 竞猜管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/guess/teams')}" data-title="比赛队伍管理" href="javascript:void(0)">比赛队伍管理</a></li>
                    <li><a data-href="{:url('admin/guess/games')}" data-title="游戏管理" href="javascript:void(0)">游戏管理</a></li>
                    <li><a data-href="{:url('admin/guess/matchs')}" data-title="赛事管理" href="javascript:void(0)">赛事管理</a></li>
                    <li><a data-href="{:url('admin/guess/competition')}" data-title="发起竞猜" href="javascript:void(0)">发起竞猜</a></li>
                    <!--<li><a data-href="{:url('admin/guess/bets')}" data-title="赛事管理" href="javascript:void(0)">投注管理</a></li>-->
                    <!--<li><a data-href="{:url('admin/guess/audit')}" data-title="赛事管理" href="javascript:void(0)">会员投注管理</a></li>-->
                </ul>
            </dd>
        </dl>
		

        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('admin/member/index')}" data-title="会员列表" href="javascript:void(0)">会员列表</a></li>
                    <li><a data-href="{:url('admin/member/recyle')}" data-title="删除的会员" href="javascript:void(0)">删除的会员</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>

                    <li><a data-href="{:url('administrator/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('shop/category')}" data-title="商品分类管理" href="javascript:void(0)">商品分类列表</a></li>
                    <li><a data-href="{:url('shop/index')}" data-title="商品管理" href="javascript:void(0)">商品列表</a></li>
                    <li><a data-href="{:url('shop/recyle')}" data-title="已删除的商品" href="javascript:void(0)">已删除的商品</a></li>
                </ul>
            </dd>
        </dl>
		  <dl id="menu-message">
            <dt><i class="Hui-iconfont">&#xe620;</i> 论坛管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('message/index')}" data-title="论坛管理" href="javascript:void(0)">论坛列表</a></li>
                    <li><a data-href="{:url('messagere/index')}" data-title="论坛管理" href="javascript:void(0)"> 论坛回复列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-banner">
            <dt><i class="Hui-iconfont">&#xe620;</i> 轮播管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('banner/index')}" data-title="轮播管理" href="javascript:void(0)">轮播列表</a></li>
                </ul>
            </dd>
        </dl>
       <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('system/notice')}" data-title="系统设置" href="javascript:void(0)">公告设置</a></li>
                    <li><a data-href="{:url('system/advertisement')}" data-title="栏目管理" href="javascript:void(0)">广告管理</a></li>
                    <li><a data-href="systemData.html" data-title="数据字典" href="javascript:void(0)">邮件</a></li>
                    <li><a data-href="systemShielding.html" data-title="屏蔽词" href="javascript:void(0)">支付管理</a></li>
                    <li><a data-href="{:url('system/integral')}" data-title="栏目管理" href="javascript:void(0)">积分兑换详情</a></li>
                    <li><a data-href="{:url('system/analyst')}" data-title="栏目管理" href="javascript:void(0)">分析师推荐详情</a></li>
                    <li><a data-href="{:url('system/website')}" data-title="屏蔽词" href="javascript:void(0)">网站信息管理</a></li>

                </ul>
            </dd>
        </dl>
    </div>
</aside>