{include file="public/header" /}
<body>
<article class="page-container">
    <form action="{:url('messagere/edit')}" method="post" class="form form-horizontal" id="form-member-add">

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">帖子标题：</label>
            <select name="message_id"  style="height:31px;margin-left: 20px;" id="message_title" >
                <!--<option value="">&#45;&#45;请选择&#45;&#45;</option>-->

                <option value="{$oldlist.message_id}">{$oldlist.message_id}</option>

            </select>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">帖子内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <p><script id="editor"  type="text/plain" name="messagere_content" style="width:80%;height:300px;">{$oldlist.messagere_content}</script></p>
            </div>
        </div>
        <input class="btn btn-primary radius" type="hidden" name="re_id" value="{:input('param.re_id')}">
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                <input class="btn btn-primary radius" onclick="closess()" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

{include file="public/footer" /}
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });
    $(function(){
        var ue = UE.getEditor('editor');

    });
    function closess() {
        parent.layer.closeAll();//关闭所有layer窗口
    }


</script>
{load href="__STATIC__/admin/js/image.js" /}
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
