{include file="public/main" /}
    <style>
        @media (max-width: 750px) {
            #table_title th{
                font-size:1rem;
            }
            #table_title tbody b{
                font-size: 1.6rem;
            }
            nav{
                display: none;
            }
        }
        @media screen and (max-width: 992px){
            nav{
                display:none;
            }
        }
    </style>
    
<div class="container">
{include file="public/header" /}
    <nav style="background: #0b385a;">
        <ul class="nav nav-justified">
            <li><a href="{:url('bbs/index')}">论坛</a></li>
            <li><a href="{:url('guessing/index')}">竞猜大厅</a></li>
            <li><a href="{:url('shop/index')}">兑换中心</a></li>
            <li><a href="{:url('userinfo/index')}">我的竞猜</a></li>
        </ul>
    </nav>
    <table class="table table-hover table-bordered" id="table_title">
        <thead>
        <tr>
            <th>赛事</th>
            <th>队伍</th>
            <th>状态</th>
            <th>时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="__STATIC__/index/image/LOL.png" alt="" class="img-responsive"/>
                <b>LPL</b>
            </td>
            <td>
                <a href="{:url('match/index')}">
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                    <i>VS</i>
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                </a>
            </td>
            <td>
                <b>未开始</b>
            </td>
            <td>
                <b>2017.08.22 14:00</b>
            </td>
        </tr>
        <tr>
            <td>
                <img src="__STATIC__/index/image/LOL.png" alt="" class="img-responsive"/>
                <b>LPL</b>
            </td>
            <td>
                <a href="{:url('match/index')}">
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                    <i>VS</i>
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                </a>
            </td>
            <td>
                <b>未开始</b>
            </td>
            <td>
                <b>2017.08.22 14:00</b>
            </td>
        </tr>
        <tr>
            <td>
                <img src="__STATIC__/index/image/LOL.png" alt="" class="img-responsive"/>
                <b>LPL</b>
            </td>
            <td>
                <a href="{:url('match/index')}">
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                    <i>VS</i>
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                </a>
            </td>
            <td>
                <b>未开始</b>
            </td>
            <td>
                <b>2017.08.22 14:00</b>
            </td>
        </tr>
        <tr>
            <td>
                <img src="__STATIC__/index/image/LOL.png" alt="" class="img-responsive"/>
                <b>LPL</b>
            </td>
            <td>
                <a href="{:url('match/index')}">
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                    <i>VS</i>
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                </a>
            </td>
            <td>
                <b>未开始</b>
            </td>
            <td>
                <b>2017.08.22 14:00</b>
            </td>
        </tr>
        <tr>
            <td>
                <img src="__STATIC__/index/image/LOL.png" alt="" class="img-responsive"/>
                <b>LPL</b>
            </td>
            <td>
                <a href="{:url('match/index')}">
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                    <i>VS</i>
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                </a>
            </td>
            <td>
                <b>未开始</b>
            </td>
            <td>
                <b>2017.08.22 14:00</b>
            </td>
        </tr>
        <tr>
            <td>
                <img src="__STATIC__/index/image/LOL.png" alt="" class="img-responsive"/>
                <b>LPL</b>
            </td>
            <td>
                <a href="{:url('match/index')}">
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                    <i>VS</i>
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                </a>
            </td>
            <td>
                <b>未开始</b>
            </td>
            <td>
                <b>2017.08.22 14:00</b>
            </td>
        </tr>
        <tr>
            <td>
                <img src="__STATIC__/index/image/LOL.png" alt="" class="img-responsive"/>
                <b>LPL</b>
            </td>
            <td>
                <a href="{:url('match/index')}">
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                    <i>VS</i>
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                </a>
            </td>
            <td>
                <b>未开始</b>
            </td>
            <td>
                <b>2017.08.22 14:00</b>
            </td>
        </tr>
        <tr>
            <td>
                <img src="__STATIC__/index/image/LOL.png" alt="" class="img-responsive"/>
                <b>LPL</b>
            </td>
            <td>
                <a href="{:url('match/index')}">
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                    <i>VS</i>
                    <div>
                        <img src="__STATIC__/index/image/home_06.jpg" alt="" class="img-responsive"/>
                        <b>SKT</b>
                    </div>
                </a>
            </td>
            <td>
                <b>未开始</b>
            </td>
            <td>
                <b>2017.08.22 14:00</b>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    {include file="public/footer" /}
<script>
    $('#header').load('header.html');
    $('#copyRight').load('copyRight.html');
    $('#footer').load('footer.html');
</script>
