{include file="public/header" /}
<style>
    .pageNav{
        float: right;
        margin-right: 50px;
    }
    .pageNav li{
        float: left;
    }
</style>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>竞猜管理 <span class="c-gray en">&gt;</span> 竞猜列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="" method="post">
        <div class="text-c">

            <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="search">
            <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
        </div>
    </form>
    <div class="cl pd-5 bg-1 bk-gray mt-20">  <a href="javascript:;" onclick="member_add('添加帖子','{:url(\'guess/gamesAdd\')}','1200','550')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加游戏</a></span>  </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="70">ID</th>
                <th width="150">游戏名称</th>
                <th width="200">游戏简介</th>
                <th width="50">创建时间</th>
                <th width="70">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="$select" id="vo"}
            <tr class="text-c">
                <td>{$vo.game_id}</td>
                <td>{$vo.gname}</td>
                <td>{$vo.gcontent|htmlspecialchars_decode|strip_tags|mb_substr=0,30}...</td>
                <td>{$vo.create_time|date="Y-m-d h:s:m ", ###}</td>
                <td class="td-manage">
                    <a title="编辑" href="javascript:;"
                       onclick="member_edit('编辑','{:url('guess/gamesEdit',['game_id'=>$vo['game_id']])}','4','','510')"
                       class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="member_del(this,'{:url('guess/gamesDel',['game_id'=>$vo['game_id']])}','','1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div class="pageNav">{$select->render()}</div>


</div>

<script type="text/javascript">

    /*用户-添加*/
    function member_add(title,url,w,h){
        //alert(url);
        layer_show(title,url,w,h);
    }
    /*用户-查看*/
    function member_show(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*收藏-查看*/
    function collection_show(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-停用*/


    function member_stop(url){
        if(confirm("确认要更改吗？"))
        {
            location.href =url;
        }
    }


    /*用户-编辑*/
    function member_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*密码-修改*/
    function change_password(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*用户-删除*/
    function member_del(obj,url,id,del){
         //alert(url);
        if(confirm('确认要删除吗？'))
        {
            $.ajax({
                type: 'POST',
                url: url,
                data:{'id':id,'delete':del},
                dataType: 'json',
                success: function(data){
                    alert(data.code);
                    if(data.code == 1)
                    {
                        //alert('ddddd');
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                        location.reload();
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        }else {
            return false;
        }
    }
</script>
</body>
{include file="public/footer" /}