{include file='public/header'/}
<style>
    .pageNav{
        float: right;
        margin-right: 50px;
    }
    .pageNav li{
        float: left;
    }
</style>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    商品管理
    <span class="c-gray en">&gt;</span>
    商品分类列表
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <!--<div class="text-c">
        <input type="text" name="" placeholder="套餐名称" style="width:250px" class="input-text">
        <button name="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </div>-->
    <div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
		<a class="btn btn-primary radius" onclick="system_category_add('添加分类','{:url(\'shop/cateadd\')}')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a>
		</span>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg">
            <thead>
            <tr>
                <th scope="col" colspan="7">套餐分类列表</th>
            </tr>
            <tr class="text-c">
                <th width="80">编号</th>
                <th width="200">栏目名称</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {foreach name='$cate' item='vo'}
            <tr class="text-c">
                <td>{$vo.goods_cid}</td>
                <td class="text-l">{$vo.goods_title}</td>
                <td class="f-14">
                    <a title="编辑" href="javascript:;" onclick="system_category_edit('分类编辑','{:url(\'shop/cateedit\',[\'id\'=>$vo.goods_cid])}')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a title="删除" href="javascript:;" onclick="system_category_del(this,'{:url(\'shop/cateDel\')}','{$vo.goods_cid}','0')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    <div class="pageNav">{$cate->render()}</div>
</div>
{include file='public/footer'/}
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 1, "desc" ]],//默认第几个排序
        "bStateSave": true,//状态保存
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,4]}// 制定列不参与排序
        ]
    });
    /*系统-栏目-添加*/
    function system_category_add(title,url,w,h){
        layer_show(title,url,w,h);
    }
    /*系统-栏目-编辑*/
    function system_category_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*系统-栏目-删除*/
    function system_category_del(obj,url,id){
        if(confirm('确认要删除吗？'))
        {
            //alert(aa);
            $.ajax({
                type: 'POST',
                url: url,
                data:{'id':id},
                dataType: 'json',
                success: function(data){
                    if(data.code == 1)
                    {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                        location.reload();
                    }
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });
        }else {
            return false;
        }
    }
</script>
</body>
</html>